[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python sound_reactor.py"
format = "autopep8 -viraa ."
lint = "flake8 . --count --max-complexity=10 --max-line-length=120 --statistics"
